body {
    background-color: #1F2937;
    color: #ffffff;
    font-family: 'Segoe UI';
}

#content-container {
    width: 550px;
    margin: 100px auto 0px auto;
}



h1 {
    width: 354px;
    margin: 0px;
    font-size: 40px;
    line-height: 40px;
}

#subtitle {
    color: #4ADF86;
}

#tagline {
    color: #D5D4D8;
    font-size: 22px;
    margin: 5px 0px 0px 0px;
    line-height: 32px;
}





#generate-container {
    display: flex;
    justify-content: start;
    margin: 25px 0px 30px 0px;
    padding: 0px 0px 30px 0px;
    border-bottom: 1px solid #2F3E53;
    text-align: center;
}

#password-length-container {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

#password-length-container > p{
    margin: 0px 0px 10px 0px;
}

#password-length-input {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0px 0px 10px 10px;
    border: 1px solid #6B7280;
    border-radius: 2px;
    background-color: #273549;
    color: #ffffff
}

#password-length-input:hover {
    border: 1px solid #ffffff;
}

#password-length-input:focus {
    outline: none; /* remove default outline of browser */
    border: 1px solid #10b981;
}

#checkbox-container {
    display: flex;
    justify-content: start;
}

#checkbox-container > .check {
    accent-color: #10b981;
    height: 30px;
    width: 30px;
}

#checkbox-container > label {
    margin: auto 0px auto;
}



#gen-btn {
    margin: auto 0px 0px auto;
    font-size: 20px;
    color: #ffffff;
    background-color: #10b981;
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 250px;
    padding: 10px 20px;
}

#gen-btn:hover {
    border: 1px solid #000000;
}

#gen-btn:active {
    opacity: 0.5;
}











#passwords-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.password {
    background-color: #273549;
    width: 200px;
    height: 39px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    color: #55F991;
    padding: 5px 30px;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

.password > p {
    margin: 0px;
}

#passwords-container .tooltip {
    visibility: hidden;
    z-index: 1;
    position: relative;
    bottom: 70px;


    font-size: 15px;
    line-height: 20px;
    background-color: #6B7280;
    text-align: center;
    width: 150px;
    padding: 0 0 0 7px;
    border-radius: 3px;
}

#passwords-container .tooltip::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color:#6B7280 transparent transparent transparent;   
    position: relative;
    right: 15px;    
    top: 23px;
}

#password1:hover .tooltip, #password2:hover .tooltip {
    visibility: visible;
}

#password1:active > p, #password2:active > p{
    color: #ffffff;
}

